{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


{% block page_content %}
 <div class="page-header">
    <div class="jumbotron in" id="header">
        <h1>欢迎来到心情日记！</h1>
        <p>在这里，也许你可以重新认识到自己，先给自己一个微笑吧^_^</p>
        <p>根据提示，做选择填空，朋友放轻松，不是考试哦~</p>
        <p>嘿~朋友，看哪呢，看导航条啊，有心情分类，别走错了哟~</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button"
              data-toggle="collapse" data-target="#form_content,#header" aria-expanded="false" aria-controls="form_content">让我们开始吧</a></p>
    </div>
</div>

{% endblock %}
</body>
</html>